<ul class="sidebar-menu" data-widget="tree">
    <li class="header">LAOYOUT ADMIN</li>

    <li>
        <a href="">
            <i class="fa fa-th"></i> <span>Loại sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Danh sách tin tức</span>
        </a>
    </li>
    <li>
        @Html.ActionLink("Quản lý user", "Index", "User")
    </li>
    <li>
        @Html.ActionLink("Quản lý sản phẩm", "Index", "Product")
    </li>
</ul>
