<ul class="sidebar-menu" data-widget="tree">
    <li class="header">LAOYOUT ADMIN</li>

    <li>
        <a href="@Url.Action("Index", "Categories")">
            <i class="fa fa-th"></i> <span>Danh mục sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "User")">
            <i class="fa fa-th"></i> <span>Quản lý User</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Product")">
            <i class="fa fa-th"></i> <span>Quản lý sản phẩm</span>
        </a>
    </li>
    
</ul>
