<ul class="sidebar-menu" data-widget="tree">
    <li class="header">LAOYOUT ADMIN</li>

    <li>
        <a href="">
            <i class="fa fa-th"></i> <span>Loại sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Danh sách tin tức</span>
        </a>
    </li>
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-code"></i> <span>Quản lý user</span>
            <span class="pull-right-container">
                <!--<small class="label pull-right bg-green">new</small>-->
            </span>
        </a>
    </li>
</ul>
